.SongForm {
    width: 80%;
    max-width: 90rem;

    .Title {
        font-size: 3.4rem;
        font-weight: 300;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    .Actions {
        margin-top: 2.2rem;
    }
}
